.filters {
  width: 100%;
}

.filters h3 {
  width: 100%;
}

.filters .inputs {
  display: flex;
  flex-wrap: wrap;
}

.filters .select {
  width: 50%;
}

.filters .date {
  max-width: 50%;
}

.filters .date label {
  display: block;
}

.filters button {
  height: 20px;
}
