.filters-inputs {
  display: flex;
  flex-wrap: wrap;
}

.filters-block h3 {
  width: 100%;
}

.filters-block .select {
  width: 50%;
}

.filters-block .date label {
  display: block;
}

.filters-block button {
  height: 20px;
}
